<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-grid class="productsSeller">
      <ion-row>
          <ion-col col-4>
              <div class="prodPicBox">
              <div class="picPic" [style.backgroundImage]="getURL(seller.picture.url)"></div>
              </div> 
            </ion-col>

        <ion-col col-8>
          <ion-row class="sellerDetails">
              <span *ngIf="!userService.isSellerFavorite(seller)"  (click)="userService.addToFavorites(seller); alertService.presentToast({'message':'הוסף למועדפים'})"> <ion-icon class="star-outline" name="star-outline"></ion-icon></span>
              <span *ngIf="userService.isSellerFavorite(seller)"   (click)="userService.removeFromFavorites(seller); alertService.presentToast({'message':'הוסר מהמועדפים'})"> <ion-icon class="star" name="star"></ion-icon></span>
               <span class="sellerName"> {{seller.restaurantName}}</span>
               <span *ngIf="seller.hashgahaDescription" class="sellerKosher" >
                  {{seller.hashgahaDescription}}
            </span>
      </ion-row>
      <ion-row>
              <span [ngClass]="seller.openHours.open? 'sellerOpen' : 'sellerClose'" (click)="showDaysHours()">
                      {{seller.openHours.message}}
              </span>
      </ion-row>
        
           <ion-row class="sellerDetails">
              <span class="sellerDescription"> {{seller.description}}</span>
            </ion-row>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-navbar>

   <div class="scrolling-wrapper">
    <div class="scrolling-wrapperSubCategorySelected">
      <div  *ngFor="let subCategory of subCategoriesToShow" (click)="selectSubCategory(subCategory)" [ngClass]="isSubCategorySelected(subCategory)? 'subCategorySelected' :'subCategory' ">
        <span class="categoryName">{{subCategory}}</span>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class="global" padding>





  <div class="products_enabled">
    <ion-list class="listOfProdsCatego" *ngIf="subCategoriesToShow">
  <div *ngFor="let category of subCategoriesToShow" text-wrap [hidden]="!isCategoProdsToShow(category)">
        <div class="categoTitle">{{category}}</div>
        <ion-grid class="listOfProds" *ngIf="getCategoryProducts(category) as categoProducts ">

          <ion-row class="product" *ngFor="let product of categoProducts, let i=index"  [ngClass]="i%2==0? 'product one' :'product two'"  [hidden]="!product.toShow">
            <ion-col col-4> 
              <div class="prodPicBox">
                <div class="picPic" (click)="showPicture(product)" [style.backgroundImage]="getURL(product.picture.url)"></div>
                      
              </div>
            </ion-col>

            <ion-col col-6>
                <span *ngIf="product.bestPromo" class="promoTime">
                    <ion-icon name="time"></ion-icon> {{product.bestPromo.promoTimes.start}} --> {{product.bestPromo.promoTimes.end}}</span>
                  <span class="productName">{{product.name}}</span>
                  <span class="productDescription">{{product.description}}</span>
                  <span *ngIf="showPromoQty(product)" class="productQty"> רק {{product.bestPromo.quantity}} נשארים...</span>

            </ion-col>

            <ion-col col-2  align-self-center *ngIf="!product.bestPromo"><span class='productPrice'>{{product.originalPrice}} ₪</span></ion-col>
            <ion-col col-2 align-self-center *ngIf="product.bestPromo"><span class='productPrice'><del>{{product.originalPrice}} ₪</del> {{product.bestPromo.price}} ₪ </span></ion-col>
        </ion-row>
     </ion-grid>
         
      </div>
    </ion-list>


  </div>
 

  
</ion-content>

 <ion-footer class="">
     
    
    <div (click)="callTel(seller.telNo)" class="footerButton">
        
        <div class="oneLine">  
          <span class="footerIcon"><ion-icon name="call"></ion-icon></span>
          <span class="footerLabel">  חייג</span>
        </div>
        <div class="oneLine">  
          <span class="sellerTelNo">
                {{seller.telNo}}
            </span>
        </div>
      </div>
    
      <div class="footerButton">
        <a  href="https://maps.google.com/?q={{seller.address.description}}" target="_blank">
          
          
            <div class="oneLine">  
            <span class="footerIcon"> <ion-icon name="navigate"></ion-icon></span>
                <span class="footerLabel"> נווט</span>
              </div> 
              <div class="oneLine">  
                <span class="sellerDistance" >
                     {{seller.address.description}}
                </span>
              </div>
           </a>
      </div>
       
        
    
    </ion-footer>