page-search-address {


    .item {
        padding-left: 10px;
        margin: 3px 4px 4px 3px;
        color: rgb(39, 28, 187);
        background-color: transparent;
        font-weight: bold
        
      }
      
      .text-input{
        font-size: 15px;
        color: white;
        font-weight: bold;
        direction: rtl;
      }
      
      .addressesList
      {
        color:white;
      }
      
      .addressItem
      {
        color:#486ff1;
        font-weight: bold
      }

      .sellerAddress{
        font-size: 15px;
        font-weight: 600;
      }

      .historyHeader
      {
        font-size:15px; 
        font-weight: bolder;
        
        padding: 7px;
      }

      .historyFooterLink
      {
        font-size:13px; 
        font-weight: bolder;
        padding: 7px;
      }
   
}
