<ion-content>
    <div class="listContent">
    
         <ion-list>
        <div class="listTitle">Search Range</div>
        <ion-item>
                <ion-range min="{{rangeMin}}" max="{{rangeMax}}" [(ngModel)]="settings.range"  (ionChange)="updateStorage()">
                  <ion-label range-left>{{rangeMin}} Km</ion-label>
                  <ion-label range-right>{{settings.range}} Km</ion-label>
                </ion-range>
              </ion-item>
          </ion-list>
        
     
      
      
      <ion-list *ngIf="hashgahot" no-border radio-group [(ngModel)]="settings.hashgaha" (ionChange)="updateStorage()">
  
     
          <div class="listTitle">Hashgahot</div>
      
  

      <ion-item *ngFor="let hashga of hashgahot" >
          <ion-label>{{hashga}}</ion-label>
          <ion-radio value="{{hashga}}"></ion-radio>
        </ion-item>
  
    </ion-list>


    <ion-list *ngIf="orders" no-border radio-group [(ngModel)]="settings.order" (ionChange)="updateStorage()">
  
     
        <div class="listTitle">Order by</div>
    


    <ion-item *ngFor="let order of orders" >
        <ion-label>{{order}}</ion-label>
        <ion-radio value="{{order}}"></ion-radio>
      </ion-item>

  </ion-list>

  <ion-item  >
        <ion-label>Show only Promotions</ion-label>
     <ion-checkbox  item-right [(ngModel)]="settings.onlyShowPromotion" (ionChange)="updateStorage()"></ion-checkbox>
  </ion-item>




    
    </div>
  
   
  
  
  </ion-content>