<ion-content>
    <div class="listContent">
    
         <ion-list>
        <div class="listTitle">Search Range</div>
        <ion-item>
                <ion-range min="{{rangeMin}}" max="{{rangeMax}}" [(ngModel)]="settings.range"  (ionChange)="updateStorageAndSearch()">
                  <ion-label  class="rangeLeft" range-left>{{rangeMin}} Km</ion-label>
                  <ion-label class="rangeRight" range-right>{{settings.range}} Km</ion-label>
                </ion-range>
              </ion-item>
          </ion-list>
        
     
      
      
      <ion-list *ngIf="hashgahot" no-border radio-group [(ngModel)]="settings.hashgaha" (ionChange)="updateStorageAndSearch()">
  
     
          <div class="listTitle">Hashgaha</div>
      
  

      <ion-item *ngFor="let hashga of hashgahot" >
          <ion-label>{{hashga}}</ion-label>
          <ion-radio value="{{hashga}}"></ion-radio>
        </ion-item>
  
    </ion-list>

  <ion-item  >
        <ion-label>Deals only</ion-label>
     <ion-checkbox  item-right [(ngModel)]="settings.onlyShowPromotion" (ionChange)="updateStorageAndSearch()"></ion-checkbox>
  </ion-item>




    
    </div>
  
   
  
  
  </ion-content>