<ion-content>
    <div class="listContent">
    
      <ion-list *ngIf="getHashgahot()" no-border radio-group [(ngModel)]="settings.hashgaha" (ionChange)="updateStorageAndSearch()">
  
     
          <div class="listTitle">כשרות</div>
      
  

      <ion-item *ngFor="let hashga of getHashgahot()" >
          <ion-label>{{hashga}}</ion-label>
          <ion-radio value="{{hashga}}"></ion-radio>
        </ion-item>
  
    </ion-list>

  <ion-item  >
        <ion-label class="optionDeal">רק מבצעים</ion-label>
     <ion-checkbox  item-right [(ngModel)]="settings.onlyShowPromotion" (ionChange)="updateStorageAndSearch()"></ion-checkbox>
  </ion-item>




    
    </div>
  
   
  
  
  </ion-content>