

page-search-settings {

.listTitle
{
    font-weight: bold;
    color: #1c2c8c;
    padding-right: 16px;
    font-size: 19px;
    margin-left:12px;
}

.listContent
{
    margin-top:15px
}

.item-block {
    min-height: 0;
}


.item {
    margin-bottom: 0px;
    height: 25px;
}

 
.rangeRight
{
    color: #4b64f3;
    font-size: larger;
    font-weight: bold;
}

.rangeLeft
{
    font-size: small;
}

.optionDeal
{
    font-weight: bold;
    color: #1c2c8c;
    font-size: 19px;
}

}
