page-products{


 

.promotions
{
    color: white;
    border-color: white;
    border: 3px solid;
    margin-bottom: 13px;
    border-radius: 15px;
    font-size: larger;
}

.productName
{
  font-weight: bolder;
  font-size: larger;
}

.productDescription {
  font-style: italic;
 
}
.searchBoxInner
{
  margin-left: 10px;
  margin-top: 10px;
}



.text-input{
  font-size: 15px;
  color: #486ff1;
  font-weight: bold;
}



 .item-md {
  padding-left: 10px;
  margin: 3px 4px 4px 3px;
  color: rgb(39, 28, 187);
  background-color: transparent;
}

.item-input-has-focus ion-input
{
border-color:transparent;
}

.position {
  color: rgb(39, 28, 187);
  background-color: white;
  }

.rangeLabel
{
  font-size: large
}

.col15
{
  -webkit-flex: 0 0 9.33333%;
  width: 9.33333%; 
   max-width: 9.33333%; 
}

.radio-md .radio-checked {
  border-color: white;
  border: 3px solid white;
}


.radio-md .radio-inner
{
  background-color: white;
}

.checksAligned
{
width:10%;
}

.item-input .label-md
{
  color: white;
}

.item-md.item-block .item-inner {
  /* padding-right: 8px; */
   border-bottom: 0px solid; 
}


.searchBox
  {
    border-radius: 15px;
    border: 3px solid;
    color: white;
  }



.productQuantity
{
  font-weight:bold;
}

.productPriceBefore
{
  color:red;
  font-size: x-large;
}

.productPriceAfter
{
  color:red;
  font-weight:bold;
  margin-left:10px;
  font-size: x-large;
}

.products_disabled{
  opacity:0.5;
  left: 0;
  position: absolute;
  width:100%;

}

.products_enabled{
  opacity:1;
  left: 0;
  position: absolute;
  width:100%;

}

.buttonPromotion
{
  align-items: center;
}

.publishPromo
{
  background-color: green;
}

.stopPromo
{
  background-color: red;
}

.card-md {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:0px;
  border-radius: 10px;
  width:100%;
  border-radius: 0;
}

.select-text
{
visibility: hidden
}

.select-icon
{
  visibility: hidden
}


.list-md {
  max-width: 500px;
  margin: auto;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 1px solid white;
    border-top: 1px solid white;
  color:white;
  height: 60px;
}

.scrolling-wrapperSubCategory {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 2px solid white;
 color:white;
  height: 29px;
  padding-bottom: 13px;
  
}

.category {
  display: inline-block;
  margin-top: 5px;
  padding-left: 20px;
  
  
}

.subCategory {
  display: inline-block;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.categorySelected{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,1);

 
}

.subCategorySelected{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,1);

 
}



.categoryName{
  float:left
}

.categoryPic{
  height: 10%;
  max-height: 22px;
  margin-left: 20%;
}








}