<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-10>

                        <ion-input clearInput [(ngModel)]="userService.userSearchSettings.position.description" class="position" type="text" placeholder="..."
                            (ionFocus)="goToSearchAddessPage()">
                            <ion-icon class='white' name="navigate"></ion-icon>
                        </ion-input>
                    </ion-col>
                    <ion-col col-2 align-self-end>
                            <ion-row><ion-icon (click)="getFilteredSellersProdsAndDeals()" name="refresh"></ion-icon></ion-row>
                            <ion-row><ion-icon (click)="presentPopover($event)" name="settings"></ion-icon></ion-row>
                    </ion-col>
                </ion-row>
       
            </ion-grid>
        </ion-title>
    </ion-navbar>
    <div class="scrolling-wrapper">
            <div *ngFor="let category of getCategories()" (click)="selectCategory(category)" [ngClass]="isCategorySelected(category)? 'categorySelected' :'category' ">
                <img class="categoryPic" src="assets/icon/{{category.icon}}" />
                <span class="categoryName">{{category.description}}</span>
            </div>
        </div>
    
     <!--   <div  [ngClass]="categorySelected? 'scrolling-wrapperSubCategorySelected' : 'scrolling-wrapperSubCategory'">
            <div  *ngFor="let subCategory of getSubCategories(categorySelected)" (click)="selectSubCategory(subCategory)" [ngClass]="isSubCategorySelected(subCategory)? 'subCategorySelected' :'subCategory' ">
                <span class="categoryName">{{subCategory}}</span>
            </div>
        </div> -->
</ion-header>


<ion-content class="global" padding>





    <div [ngClass]="products_enabled">


        <ion-list *ngIf="haveOrganizedSellers()" >

            <ion-card *ngFor="let seller of getOrganizedSellers()" (click)="goToSeller(seller, $event)">
                
                    <ion-grid class="productsSeller" >
                        <ion-row>
                            <ion-col>
                                <ion-row>
                                    <span class="sellerName"> {{seller.restaurantName}}</span> 
                                    <span *ngIf="!userService.isSellerFavorite(seller)"  (click)="userService.addToFavorites(seller); alertService.presentToast({'message':'Added to favorites'})"> <ion-icon class="star-outline" name="star-outline"></ion-icon></span>
                                    <span *ngIf="userService.isSellerFavorite(seller)"   (click)="userService.removeFromFavorites(seller); alertService.presentToast({'message':'Removed from favorites'})"> <ion-icon class="star" name="star"></ion-icon></span>
                                </ion-row>
                                <ion-row>

                                        <span>
                                            <span class="sellerDistance" >
                                                <ion-icon name="navigate"></ion-icon>
                                              {{seller.address.description}}
                                            </span>
                                          </span> 
                                 
    
                                    </ion-row>
                                <ion-row>
                                    <span class="sellerDistance" >
                                        {{seller.distanceFromPosition}} Km
                                    </span>

                                </ion-row>

                            </ion-col>
                            <ion-col align-self-end>
                                <img class="sellerPic" src="{{seller.picture.url}}" />
                            </ion-col>
                        </ion-row>

 
            </ion-grid>
                 
                            <div class="scrolling-products" >
                                    <div *ngFor="let product of getSellerProducts(seller)" [ngClass]="product.bestPromo? 'product productPromo' :'product'" >
                                            <span *ngIf="!product.bestPromo" class="productPrice">{{product.originalPrice}} ₪</span>
                                            <span *ngIf="product.bestPromo"  class="productPrice"><del>{{product.originalPrice}} ₪</del>  {{product.bestPromo.price}} ₪ </span>
                                            <span class="prodPicBox"><img class="productPic" src="{{product.picture.url}}" /></span>
                                        <span *ngIf="product.bestPromo" class="promoTime"><ion-icon name="time"></ion-icon> {{product.bestPromo.promoTimes.start}} --> {{product.bestPromo.promoTimes.end}}</span> 
                                        <span class="productName">{{product.name}}</span>
                                        <span *ngIf="product.bestPromo" class="productQty"> Only {{product.bestPromo.quantity}} left...</span>
                                    </div>
                                    <div class="seeOthers"><p class="cardText" >...</p></div>
                                </div>
            </ion-card>
        </ion-list>

        <div class="noResult" *ngIf="!haveOrganizedSellers() && userService.doneLookingForSellersCompleteValue" >
            <p>No result found for your search :(</p> 
            <p>Please search with a different address or search filter...</p>
        </div>


    </div>



</ion-content>

